.tinkoff_credit {
    text-align: right;
}

.cart-collaterals .tinkoff_credit_submit {
    width: 184px;
}

.tinkoff_credit_submit {
    width: 100%;
    margin-top: 15px;
}

.cart_totals .tinkoff_credit_submit {
    margin-top: 0;
    margin-bottom: 20px;
}

.payment_method_tinkoff img {
    display: none;
}

.product .woocommerce-loop-product__link > img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

ul.products:not(.grid-view) .product,
ul.products:not(.grid-view) .product .inner-wrapper {
    height: 100%;
}

.hgroup-sidebar #dgwt_wcas_ajax_search-1 {
    margin-right: 0!important;
  margin-left: 60px!important;
}

@media (max-width: 1198.98px) {
  .hgroup-sidebar #dgwt_wcas_ajax_search-1 {
    margin-left: 20px!important;
  }
}

@media (max-width: 1122.98px) {
  .hgroup-sidebar #dgwt_wcas_ajax_search-1 {
    margin-left: 10px!important;
  }
}

@media screen and (max-width: 991px) {
    .hgroup-sidebar #dgwt_wcas_ajax_search-1 {
        /*flex-grow: 1;*/
        /*width: calc(100% - 1em);*/
        /*margin-right: 0.5em!important;*/
    }
}

.header-social__icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px 0;
}

.dev-by {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dev-by__label,
.dev-by__link {
    margin-top: 2px;
    margin-bottom: 2px;
}
.dev-by__label {
    font-size: 13px;
    margin-right: 15px;
}
.dev-by__link img {
    display: block;
    max-width: 100%;
}
@media (max-width: 767px) {
    .dev-by {
        justify-content: center;
    }
}


@media screen and (max-width: 575px) {
    .wishlist-compare-wrapper .in_wishlist,
    .wishlist-compare-wrapper .in_compare {
        margin-bottom: 40px!important;
    }

    .entry-summary a.button.tm-woowishlist-page-button, .entry-summary a.button.tm-woocompare-page-button {
        bottom: -5px !important;
    }

    .wishlist-compare-wrapper .text {
        display: block;
        line-height: 16px;
        text-align: left;
        margin-left: 10px;
    }

    .wishlist-compare-wrapper a.btn-primary {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}